// Colors
$primary-color: hsla(218, 31%, 30%, 1);
$primary-color-neutral: hsla(218, 13%, 48%, 1);
$dark-primary-color: hsla(218, 31%, 23%, 1);
$light-primary-color: hsla(216, 100%, 40%, 1);
$success-color: hsla(155, 54%, 46%, 1);
$warning-color: hsla(40, 100%, 50%, 1);
$white: hsla(0, 0%, 100%, 1);
$black: hsla(218, 54%, 20%, 1);

// Sidebar Menu
$sidebar-width: 230px;