.wrapper {
  transition: transform 0.3s ease;
}

#hamburguer-checkbox:checked ~ .wrapper {
  width: calc(100% - #{$sidebar-width});

  transform: translateX($sidebar-width);
}

.content {
  padding: 1rem;
}